/*font-family: 'PT Sans', sans-serif;*/

/*common start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #fcdb00;

	
}
/*common end*/

/*header start*/
header{
	padding: 30px;

}
.container{
	overflow: hidden;
	margin: 32px auto;
	width: 75%;
	/*border: 1px solid red;*/

}
.logo{
	float: left;
	width: 15%;
	/*border: 1px solid black;*/
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	float: right;
	width: 70%;
	/*border: 1px solid black;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 25px;
}
.menu ul{
	list-style: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
	margin: 0 60px;
	display: inline-block;
	color: black;

}
.menu ul li:last-child a{
	margin-right: 0 ;
}
.menu ul li a:hover {
	color: white;
}
/*header end*/